<% provide(:title, t(".title")) %>
<body>
  <h1><%= t ".title" %></h1>
  <p>
    <%= t ".the" %>
    <%= link_to t(".tutorial"), "https://www.railstutorial.org/" %>
    <%= t ".part_of" %>
    <%= link_to t(".learn_enough"), "https://www.learnenough.com/" %>
    <%= t ".family" %>
    <%= link_to t(".book"), "https://www.railstutorial.org/book" %>
    <%= t ".and" %>
    <%=  link_to t(".screencast"),"https://screencasts.railstutorial.org/" %>
    <%= t ".to_teach" %>
    <%= link_to t(".rails"), "https://rubyonrails.org/" %>
    <%= t ".content" %>
  </p>
</body>
