<h1><%= t "mailers.password_reset.subject" %>/h1>
<p><%= t ".to_link" %></p>
<%= link_to t(".reset_pasword"), edit_password_reset_url(@user.reset_token,
email: @user.email) %>
<p><%= t ".time_out_link" %></p>
<p><%= t ".skip_email" %></p>
